{% extends "static/layout.html" %}


        <script>
            function convert(){
                var text = document.getElementById("namu-mark").value;


                document.getElementById("result-mark").value = text;
            }
        </script>
    <body>
    {% block content %}
        
        <h1>나무 html</h1>

        <form action="/htmltolibre" method="POST">
            <textarea name="namu-mark" id="namu-mark" style="min-width:100%;max-width:100%;width:100%;height: 600px;">{{ test }}</textarea>
            <input type = "submit" onclick="convert()" value="변환하기" style="width:100%;display:block;">
        </form>
        <h1>결과</h1>

        <textarea datatype="text" id="result-mark" style="min-width:100%;max-width:100%;width:100%;height: 600px;"}>{{ text }}</textarea>

        <h1>연습장</h1>
        {{ rendered | safe }}
        <br><br><br><br><br><Br><BR><BR>
    {% endblock %}
    </body>
