<!-- author = 이츠레아 -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <title>{{ config.NAME }} - {{ name }}</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/libre.css') }}">
            <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
			<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3_min.js') }}" charset="utf-8"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" charset="utf-8"></script>
            <!--[if lt IE 9]>
                <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <header>
            <!-- Start Navbar-->
            <div class="navbar navbar-inverse navbar-fixed-top libre-navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url_for('read', name='FrontPage') }}"><img class="libre-logo" title="메인으로" src="{{ url_for('static', filename='img/logo.png') }}"></a>
                    </div>
                    <div id="navbar" style="background-color: #333;" class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ url_for('edit', name=name) }}">편집(기능점검용)</a></li>
                            <li><a href="#">최근변경</a></li>
                            <li><a href="#">임의문서</a></li>
                            <li><a href="#">도구</a></li>
                            <li><a href="#">도움말</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" style="margin:0px;">
                            <li><a href="#">로그인</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="subnav navbar-fixed-top" style="z-index:1000;">
                <div class="container">
                    <form class="navbar-form navbar-right libre-search">
                        <input id="search-text-box" type="text" class="form-control" placeholder="검색어">
                        <div id="search-result-pos" class="form-control" style="display: block; position: absolute;">
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Navbar -->
        </header>
        <!-- Start Content -->
        <div class="container-fluid libre-content">
            <div class="row">
                <div class="col-xs-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>
        <!-- End Content -->
        
        <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>