/* 내용 시작 */
.libre-content {
    position: relative;
    top: 80px;
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    border-bottom: 1px solid #222;
}

.libre-content .col-xs-9 {
    max-width: 1009px;
    width: 100%;
    border-right: 1px solid #222;
}

.libre-content .col-xs-3 {
    width: 231px;
}

@media (max-width: 1240px) {
    .libre-content {
        width: 100%;
        border: 1px solid #222;
        border-top: none;
    }
}
/* 내용 끝 */