/* 메뉴 시작 */
.libre-navbar {
    margin: 0 auto;
    height: 50px;
    background-color: #333;
    border-bottom: 1px solid #222;
}

.navbar-brand {
    margin-right: 5px;
    padding: 7px 20px;
    margin-left: 5px !important;
}

.libre-logo {
    width: auto;
    height: 36px;
}

.libre-navbar .container {
    padding: 0;
    margin: 0;
    width: 100%;
    color: #222;

}

.navbar-inverse .navbar-nav>li>a {
    color: #222;
    background-color:#888;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #A3CCA3;
}

.nav-right {
    float: right;
}
.navbar-nav {
    background-color:#333;

}
.navbar {
    background-color:#333;
}

.subnav {
    top: 50px;
    margin: 0 auto;
    height: 30px;
}

.subnav .container {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #222;
    background-color: #fff;
}

.libre-search {
    margin: 0;
    padding: 0;
    border: 0;
}

.libre-search .form-control {
    height: 30px;
    border-radius: 0;
    border: 0;
    padding: 2px 8px;
}

@media (min-width: 768px) {
    .navbar-brand {
        margin-left: 0px !important;
    }

    .libre-search .form-control {
        width: 230px;
        border-left: 1px solid #222;
    }
}

@media (min-width: 1240px) {
    .libre-navbar {
        width: 1240px;
        border-left: 1px solid #222;
        border-right: 1px solid #222;
    }
    .subnav {
        width: 1240px;
        border-left: 1px solid #222;
        border-right: 1px solid #222;
    }
}
/* 메뉴 끝 */